/* .App {
  text-align: center;
} */

.gitgud-logo {
  margin-top: 5%;
  margin-left: 20%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 20%;
  margin-right: 45%;
  margin-bottom: 20%;
}

.lab-search {
  margin-top: 15px;
  margin-bottom: 40px;
}

.input-box { 
  width: 275px;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

.student-info {
  display: flex;
  flex-direction: column;
}

.lab-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
}

.lab-name {
  font-size: large;
  font-weight: bold;
}

.buttons {
  height: 30px;
  width: 140px;
  font-size: 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
