.logo-header {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 5px;
}

.logo-img {
  margin-top: 20px;
  margin-left: 3.2%;
  width: 70px;
  height: 70px;
}

.gitgud-logo {
  margin-top: 27px;
  margin-left: 15px;
  font-size: 35pt;
}

.fixed-navbar {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgb(151, 200, 240);
  text-align: center;
}

.nav-link {
  font-size: 25px;
  text-decoration: none;
  padding: 11px 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.active-nav-link {
  background-color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20%;
}

.search-container{
  margin-top: 15px;
}

.lab-search {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.input-box {
  width: 275px;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}

.student-info {
  display: flex;
  flex-direction: column;
}

.lab-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  margin-top: 20px;
}

.lab-name {
  font-size: large;
  font-weight: bold;
}

.buttons {
  height: 30px;
  width: 140px;
  font-size: 12px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 4px;
  margin-bottom: 20px;
}